h2{
    border: 1px solid black ;
    background: lightblue;
    width: 800px;
    text-align: center;
}
table tr td{
    border: 1px solid black;
    width: 200px;
    height: 20px;
    text-align: center;
}
table tr th{
    border: 1px solid black;
    width: 200px;
    text-align: center;
    background: lightgreen;
}
